---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <p>
      <img width="320" height="320" src="/iconla.png" alt="Hero Image" />
    </p>
    <h1 class="text-title">Limitless Ascension</h1>
    <p>
      A small but dedicated Discord Community centered around a realistic and
      science-backed approach to self-improvement and personal health.
    </p>
    <p>
      <button class="my-4">
        <a
          href="https://discord.gg/eYXVnnPEsP"
          class="bg-white text-black! px-4 py-3 rounded">Join us on Discord!</a
        >
      </button>
    </p>
    <hr class="hr-line" />
    <p>Find us on our</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a
            aria-label={link.text}
            href={link.href}
            target="_blank"
            class="prose-link"
          >
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
  </article>
</BaseLayout>
